.view{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%) translateX(-50%);
    pointer-events: none;
    /* position: sticky; */
    position: fixed;
}
.text {
    position: fixed;
}
/* .view > div {
    background-color: red;
    position: sticky;
    top: 0;
    left: 0;
} */
